* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    background-color: hsl(58, 29%, 56%);
    display: flex;

}

.main2 {
    height: 80%;
    width: 80%;
    background-color: hsl(64, 46%, 60%);
    margin-top: 6%;
    margin-left: 10%;
    display: flex;
}

.part1 {
    height: 100%;
    width: 26%;

}

.part2 {
    height: 100%;
    width: 67%;
    background-image: url(./assets/js.png);
    background-size: cover;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #5f525284;
}

a {
    text-decoration: none;
}

a h5:hover {
    color: #111111;
    border-bottom: 3px solid #fcef40;
    width: 70px;
    font-size: 25px;
    font-weight: 700;
}

.part3 {
    height: 100%;
    width: 7%;

}

.text {
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}


.text h1 {
    font-size: 80px;
    font-family: monument-extended, sans-serif;
    font-weight: 650;
    letter-spacing: 7px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;

}

.small-img {
    height: 300px;
    width: 200px;
    background-image: url(./assets/images.jfif);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(0%, -50%);
}

/* mobile screen */
@media (max-width: 500px) {
    .small-img {
        display: none;
    }

    .text {
        position: absolute;
        width: 100px;
        left: 10%;
        top: 55%;
        transform: translate(0, -50%);
    }

    .text h1 {
        font-size: 60px;
        font-family: monument-extended, sans-serif;
        font-weight: 250;
        letter-spacing: 2px;
        line-height: 45px;
        color: white;
        text-transform: uppercase;

    }
}

/* mobile screen */

.vertical-text {
    position: absolute;
    right: -65%;
    top: -10%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;


}

.vertical-text h1 {
    font-size: 70px;
    font-weight: 700;
    color: transparent;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-family: monument-extended, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    animation-name: scroll;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.nav {
    display: flex;
    position: absolute;
    width: 200px;
    left: 13%;
    top: 15%;
    align-items: center;
    justify-content: space-between;
}

.nav img {
    height: 60px;
}

.nav h5 {
    font-size: 20px;
    font-family: gilroy;
    color: #fff;
}

@keyframes scroll {
    0% {
        transform: translateX(15%);
    }

    100% {
        transform: translateX(-100%);
    }
}